<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Factorization</title>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/Summary">Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/kMeans">K-Means</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/factorization">Factorization</a>
        </li>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Charts</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/pieChart">Pie Chart</a>
            <a class="dropdown-item" href="/barChart1">The Most Popular Job Titles Bar Chart</a>
            <a class="dropdown-item" href="/barChart2">The Most Popular Areas Bar Chart</a>
            <a class="dropdown-item" href="/barChart3">The Most Popular Skills Required Bar Chart</a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
<div class="container" style="padding-top: 100px; padding-bottom: 100px;">
  <h1 class="bd-title" align="center" style="padding-top: 50px;">Factorization - 80 Rows</h1>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Experience Range</th>
      <th scope="col">Factorized Experience Range</th>
    </tr>
    </thead>
    <tbody id="mySchemaTable">
    </tbody>
  </table>
</div>
<footer class="text-center text-lg-start bg-light text-muted" style="bottom: 0; width: 100%;">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script th:inline="javascript">
  /*<![CDATA[*/
  const data1 = /*[[${indexed}]]*/ "Test";
  const data2 = /*[[${yearsExp}]]*/ "Test";
  /*]]>*/
</script>
<script src="/js/factorization.js"></script>
</html>